@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
:root {
  /* Primary colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  /* Neutral colors */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  /* Font families */
  --ff-league-spartan: "League Spartan", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-league-spartan);
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Mobile first */
main {
  min-width: 375px;
  max-width: 375px;
  margin: auto;
}
#pattern-top-desktop {
  display: none;
}
#pattern-top-mobile {
  display: block;
  z-index: -2;
}
